{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tag %}
    {% meta_tags %}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/home/home.css' %}">

<main class="container">

    {% for popup in page.popup %}
        {%if popup.value.active %}
            <div class="popup open" id="{{ popup.id }}">
                <div class="popup__content fade-down">
                    <div class="popup__header">
                        <div class="popup__title">
                            {{ popup.value.title }}
                        </div>
                    </div>
                    <p class="popup__body">
                        {{ popup.value.text|richtext }}
                    </p>
                    <div class="popup__footer">
                        <div class="popup__close">Ok</div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="sides">
        <div class="scheduling">
            <div class="scheduling__content">
                <div class="scheduling__start">
                    <button onclick="openScheduling()" class="scheduling__btn"> {{ page.scheduling_btn_text }}</button>
                    {% if page.scheduling_subtext %} <p>{{ page.scheduling_subtext }}</p> {% endif %}
                </div>
                {% include 'home/calendar.html' %}
            </div>
        </div>
        
        <div class="carousel">
            <div class="carousel__btn left"><img src="{% static 'img/icons/chevron-left.svg'%}"></div>
            <div class="carousel__btn right"><img src="{% static 'img/icons/chevron-right.svg'%}"></div>
            <div class="carousel__dots"></div>
            <div class="carousel__pics">
                {% for pic in page.ads %}
                    {% image pic.value.image original as ad_image %}
                    <img src="{{ad_image.url}}">
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" src="{% static 'js/home/scheduling.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/carousel.js' %}"></script>

{% endblock %}

