{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tag %}
    {% meta_tags %}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/home/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/popup.css' %}">

<main class="container">

{% for popup in page.popup %}
        {%if popup.value.active %}
            <div class="popup open" id="{{ popup.id }}">
                <div class="popup__content fade-down">
                    <div class="popup__header">
                        <div class="popup__title">
                            {{ popup.value.title }}
                        </div>
                    </div>
                    <p class="popup__body">
                        {{ popup.value.text|richtext }}
                    </p>
                    <div class="popup__footer">
                        <div class="popup__close">Ok</div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="windows">
        <div class="scheduling">
            <div class="scheduling__content">
                <a href="#">
                    <button class="scheduling__btn"> {{ page.schedulling_btn_text }}</button>
                </a>
                <p>{{ page.schedulling_subtext }}</p>
            </div>
        </div>
        <div class="ads"></div>
    </div>
    
</main>

<script type="text/javascript" src="{% static 'js/animations/general.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/popup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/carousel.js' %}"></script>

{% endblock %}

