{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block content %}

    <main class="container">
        <h2>Seus dados foram registrados com sucesso.</h2>
        <p>Em breve, você receberá um e-mail e confirmação de agenda com os seus dados registrados e mais informações.</p>
        <p style="margin-bottom: 2rem;">Agradecemos sua escolha</p>
        <hr>
        <div style="text-align: center; margin-top: 2rem;">
            <a href="/"><button>Finalizar</button></a>
        </div>
    </main>

    <script type="text/javascript" src="{% static 'js/home/scheduling.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home/carousel.js' %}"></script>

{% endblock %}

