.sides {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2rem;
  transition: .5s;
}

.sides.open {
  grid-template-columns: 1fr 1fr;
}

.sides.open .carousel__pics img {
  object-fit: contain;
}

.sides.open .scheduling__start {
  visibility: hidden;
}

.scheduling__btn {
  font-size: 1.25rem;
  padding: 1.5rem;
  line-height: unset;
}

.sides.open .calendar {
  display: grid;
}

.sides.open .calendar__close {
  visibility: visible;
}

.sides > * {height: 95%;}

.scheduling__content {
  width: 100%;
  text-align: center;
}

.scheduling {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.scheduling .logo {
  width: 12rem;
  margin-bottom: 4rem;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

.carousel__pics {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  border-radius: .5rem;
}

.carousel__pics img {
  width: 100%;
  height: auto;
  display: none;
}

.carousel__pics img.active {
  display: unset;
}

.carousel__btn {
  position: absolute;
  top: 46%;
  background-color: #000000aa;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  place-items: center;
}

.carousel__btn img {
  filter: invert(100%);
  width: 1.75rem;
  height: 1.75rem;
}

.carousel__btn.right {right: 1rem;}
.carousel__btn.left {left: 1rem;}