{% load wagtailcore_tags wagtailimages_tags static %}

<footer>
    <div class="footer__content container">
        <div class="social">
            {% for social in page.social_media %}
                {% if social.value.service == 'instagram' %}
                    <a class="social__icon fade-up {{social.value.service}}" href="{{social.value.url}}">
                        <h4>Visite nosso {{social.value.service}}</h4>
                        <img src="{% static 'img/social_icons/instagram.svg' %}">
                    </a>
                {% elif social.value.service == 'twitter' %}
                    <a class="social__icon fade-up {{social.value.service}}" href="{{social.value.url}}">
                        <h4>Visite nosso {{social.value.service}}</h4>
                        <img src="{% static 'img/social_icons/twitter.svg' %}">
                    </a>
                {% elif social.value.service == 'whatsapp' %}
                    <a class="social__icon fade-up {{social.value.service}}" href="{{social.value.url}}">
                        <h4>Entre em contato</h4>
                        <img src="{% static 'img/social_icons/whatsapp.svg' %}">
                    </a>
                {% elif social.value.service == 'facebook' %}
                    <a class="social__icon fade-up {{social.value.service}}" href="{{social.value.url}}">
                        <h4>Visite nosso {{social.value.service}}</h4>
                        <img src="{% static 'img/social_icons/facebook.svg' %}">
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</footer>
